$primary: #fa7f08;
$secondary: #22babb;
$font-family-sans-serif: hedley-new-web, -apple-system, system-ui,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --color-one: #348888;
  --color-two: #22babb;
  --color-three: #9ef8ee;
  --color-four: #fa7f08;
  --color-five: #f24405;
  --brand-font: "Dela Gothic One", hedley-new-web, -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  // background: rgb(255, 255, 255);
  // background: linear-gradient(
  //   180deg,
  //   rgba(255, 255, 255, 1) 33%,
  //   rgba(158, 248, 238, 1) 66%,
  //   rgba(250, 127, 8, 1) 100%
  // );
}

footer {
  background: var(--color-one);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
}

.btn-cam {
  color: white;
}

.btn-white-text {
  color: white;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.emoji {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25rem;
}

.footer-icons {
  color: white;
  font-size: 1.25em;
}

.nav-main {
  background-color: var(--color-four);
}

.text-brand {
  font-family: var(--brand-font);
}

.text-brand-white {
  font-family: var(--brand-font);
  color: white;
}

#content-wrap {
  padding-bottom: 4.5rem;
}

#filter-dropdown {
  color: white;
}

#filter-select {
  background-color: var(--color-two);
  color: white;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
